<div class="modal-header dialog-header-confirm">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">
        <i class="fa fa-cube"></i> {{'spaces.add' | translate}}
    </h4>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <label class="col-lg-3 control-label">Clef d'API :</label>
                <div class="col-lg-9">
                    {{key.value}} <a ng-click="regenerateKey(key)" tooltip="Modifier" tooltip-placement="bottom" class="btn btn-primary"> <i class="fa fa-cog"></i>
                </a>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Application source :</label>
                <div class="col-lg-4">
                    <input type="text" class="form-control floating-label" ng-model="key.srcApp" placeholder="Nom unique de l'application source, eg : com.arkea.vinz" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">API cible :</label>
                <div class="col-lg-4">
                    <input type="text" class="form-control floating-label" ng-model="key.api" placeholder="Nom unique de l'API, eg : com.arkea.vinz"
                           typeahead="api as api.name for api in getApi($viewValue)" />
                </div>
                <label class="col-lg-2 control-label">Environnement :</label>
                <div class="col-lg-1">
                    <select class="form-control" ng-model="key.env" ng-required="true" ng-options="e for e in envs">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Durée de validité ({{expirationDate}} mois) : </label>
                <div class="col-lg-8">
                    <div class="slider shor" slider ng-model="expirationDate" start="1" end="48" step="1"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Nombre d'appels max / jour : </label>
                <div class="col-lg-8">
                    <input type="text" class="form-control floating-label" ng-model="key.throttling" placeholder="Nombre d'appels max par jour, -1 pour illimité" />
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button type="button" ng-click="cancel()" class="btn btn-warning">Annuler</button>
    <button type="button" ng-click="update()" class="btn btn-success">Valider</button>
</div>