<div class="container text-center">
    <form class="form-signin">
        <h2>Sign in</h2>
       <!-- <small class="text-muted">Connect Content Fuel with your favorite social network</small>
        <br><br>

        <p>
            <a class="btn btn-primary" href="/auth/facebook"><i class="fa fa-facebook"></i></a>
            <a class="btn btn-primary" href="/auth/twitter"><i class="fa fa-twitter"></i></a>
        </p>

        <p>
            <a class="btn btn-primary" href="/auth/linkedin"><i class="fa fa-linkedin"></i></a>
            <a class="btn btn-primary" href="/auth/google"><i class="fa fa-google-plus"></i></a>
        </p>

        <br><br>


        <small class="text-muted">Or sign in with Content Fuel</small>
        <br><br>-->

        <input class="form-control login-input" placeholder="Email Address" type="text" ng-model="email">
        <input class="form-control login-input-pass" placeholder="Password" type="password" ng-model="password">

            <a class="btn btn-lg btn-primary btn-block btn-center" ng-click="login()" >Sign in</a>
        <br>
        <small class="text-muted">Dont have a Content Fuel or social network account?
            <a class="btn btn-sm btn-default" href="#/signup"> Sign Up</a>
        </small>
    </form>
</div>