<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <a href="#" class="navbar-brand">Content-Fuel </a>
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse"></button>

        <div class="collapse navbar-collapse navHeaderCollapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="isActive('home')"><span class="fa fa-home"></span> <a href="#" translate="header-menu.home"></a></li>
                <li ng-class="isActive('blog')"><span class="fa fa-newspaper-o"></span> <a href="#/blog" translate="header-menu.blog"></a></li>
                <li ng-class="isActive('about')"><span class="fa fa-info"></span> <a href="#/about" translate="header-menu.about"></a></li>
                <li ng-class="isActive('contact')"><span class="fa fa-envelope"></span> <a href="#/contact" translate="header-menu.contact"></a></li>
                <li ng-hide="user" ng-class="isActive('login')"><span class="fa fa-sign-in"></span> <a href="#/login" translate="header-menu.login"></a></li>
                <li ng-show="user" ng-class="isActive('private')"><span class="fa fa-user"></span> <a href="#/dashboard">{{user.firstname}} {{user.name}}</a></li>
            </ul>
        </div>
    </div>
</div>