<nav class="hidden-print hidden-xs hidden-sm affix well">
    <ul class="nav">
        <li><a href="#/dashboard" ><span class="fa fa-tachometer"></span> {{'private-menu.main' | translate}}</a></li>
        <li><a href="#/spaces" ><span class="fa fa-cubes"></span> {{'private-menu.spaces' | translate}}</a></li>
        <li class="nav-divider"></li>
        <li><a href="#/profile" ><span class="fa fa-user"></span> {{'private-menu.profile' | translate}}</a></li>
        <li><a ng-click="logout()" ><span class="fa fa-sign-out"></span> {{'private-menu.logout' | translate}}</a></li>
    </ul>
</nav>