<div class="row">
    <div class="col-md-3">
        <private-menu active="models"></private-menu>
    </div>
    <div class="col-md-9">
        <div class="page-header" id="top">
            <div class="btn-group pull-right" role="group">
                <a class="btn btn-primary" ng-click="addModel()" tooltip="{{'models.add' | translate}}"
                   tooltip-placement="bottom">
                    <span class="fa fa fa-plus-square"></span> {{'models.add' | translate}}</a>
            </div>
            <h1>
                <span class="fa fa-cubes"></span> {{'models.title' | translate}}
            </h1>
        </div>

        <table class="table table-striped table-condensed table-hover">
            <thead>
            <tr>
                <th translate="models.name"></th>
                <th translate="models.description"></th>
                <th translate="models.createDate"></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="model in modelsCache track by $index">
                <td>{{model.name}}</td>
                <td>{{model.description}}</td>
                <td>{{model.createDate | date : 'short'}}</td>
                <td>
                    <a ng-click="edit(model)" tooltip="{{'common.edit' | translate}}"
                       tooltip-placement="bottom" class="btn btn-default btn-xs fa fa-edit">
                    </a>
                    <a ng-click="del(model)" tooltip="{{'common.delete' | translate}}"
                       tooltip-placement="bottom" class="btn btn-default btn-xs fa fa-trash-o">
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

