<div class="row">
    <div class="col-md-3">
        <private-menu active="spaces"></private-menu>
    </div>
    <div class="col-md-9">
        <div class="page-header" id="top">
            <div class="btn-group pull-right" role="group">
                <a class="btn btn-primary" ng-click="addSpace()" tooltip="{{'spaces.add' | translate}}"
                   tooltip-placement="bottom">
                    <span class="fa fa fa-plus-square"></span> {{'spaces.add' | translate}}</a>
            </div>
            <h1>
                <span class="fa fa-cubes"></span> {{'spaces.title' | translate}}
            </h1>
        </div>

        <table class="table table-striped table-condensed table-hover">
            <thead>
            <tr>
                <th translate="spaces.name"></th>
                <th translate="spaces.description"></th>
                <th translate="spaces.entries"></th>
                <th translate="spaces.folder"></th>
                <th translate="spaces.createDate"></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="space in spacesCache track by $index">
                <td>{{space.name}}</td>
                <td>{{space.description}}</td>
                <td>{{space.entries.length}}</td>
                <td>{{space.folder.length}}</td>
                <td>{{space.createDate | date : 'short'}}</td>
                <td>
                    <a ng-click="edit(space)" tooltip="{{'common.edit' | translate}}"
                       tooltip-placement="bottom" class="btn btn-default btn-xs fa fa-edit">
                    </a>
                    <a ng-click="del(space)" tooltip="{{'common.delete' | translate}}"
                       tooltip-placement="bottom" class="btn btn-default btn-xs fa fa-trash-o">
                    </a>
                    <a href="#/space/{{space._id}}" tooltip="{{'spaces.explore' | translate}}"
                       tooltip-placement="bottom" class="btn btn-default btn-xs fa fa-search">
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

